# Assignment 4

Before working on this assignment please read these instructions fully. In the submission area, you will notice that you can click the link to **Preview the Grading** for each step of the assignment. This is the criteria that will be used for peer grading. Please familiarize yourself with the criteria before beginning the assignment.

This assignment requires that you to find **at least** two datasets on the web which are related, and that you visualize these datasets to answer a question with the broad topic of **economic activity or measures** (see below) for the region of **Wilmington, Delaware, United States**, or **United States** more broadly.

You can merge these datasets with data from different regions if you like! For instance, you might want to compare **Wilmington, Delaware, United States** to Ann Arbor, USA. In that case at least one source file must be about **Wilmington, Delaware, United States**.

You are welcome to choose datasets at your discretion, but keep in mind **they will be shared with your peers**, so choose appropriate datasets. Sensitive, confidential, illicit, and proprietary materials are not good choices for datasets for this assignment. You are welcome to upload datasets of your own as well, and link to them using a third party repository such as github, bitbucket, pastebin, etc. Please be aware of the Coursera terms of service with respect to intellectual property.

Also, you are welcome to preserve data in its original language, but for the purposes of grading you should provide english translations. You are welcome to provide multiple visuals in different languages if you would like!

As this assignment is for the whole course, you must incorporate principles discussed in the first week, such as having as high data-ink ratio (Tufte) and aligning with Cairoâ€™s principles of truth, beauty, function, and insight.

Here are the assignment instructions:

 * State the region and the domain category that your data sets are about (e.g., **Wilmington, Delaware, United States** and **economic activity or measures**).
 * You must state a question about the domain category and region that you identified as being interesting.
 * You must provide at least two links to available datasets. These could be links to files such as CSV or Excel files, or links to websites which might have data in tabular form, such as Wikipedia pages.
 * You must upload an image which addresses the research question you stated. In addition to addressing the question, this visual should follow Cairo's principles of truthfulness, functionality, beauty, and insightfulness.
 * You must contribute a short (1-2 paragraph) written justification of how your visualization addresses your stated research question.

What do we mean by **economic activity or measures**?  For this category you might look at the inputs or outputs to the given economy, or major changes in the economy compared to other regions.

## Tips
* Wikipedia is an excellent source of data, and I strongly encourage you to explore it for new data sources.
* Many governments run open data initiatives at the city, region, and country levels, and these are wonderful resources for localized data sources.
* Several international agencies, such as the [United Nations](http://data.un.org/), the [World Bank](http://data.worldbank.org/), the [Global Open Data Index](http://index.okfn.org/place/) are other great places to look for data.
* This assignment requires you to convert and clean datafiles. Check out the discussion forums for tips on how to do this from various sources, and share your successes with your fellow students!

## Example
Looking for an example? Here's what our course assistant put together for the **Ann Arbor, MI, USA** area using **sports and athletics** as the topic. [Example Solution File](./readonly/Assignment4_example.pdf)

# Content
* Imported Libraries
* Constants
* The Region
* Domain Category
* Research Question
* Dataset Description
* Data Cleaning
* Visual explanation
* Discussion

# Imported Libraries

In [38]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

# Constants

In [56]:
data_dir = 'data'
usa_crime_file = os.path.join(data_dir, 'usa_crimes.csv')
dw_crime_file  = os.path.join(data_dir, 'deleware_crimes.csv')
inf_file  = os.path.join(data_dir, 'inflation_rates.csv')
gdp_file   = os.path.join(data_dir, 'gdp_rates.csv')

# The Region

__Delaware, United States__ <br>
Delaware is one of the 50 states of the United States, in the South-Atlantic or Southern region. It is bordered to the south and west by Maryland, north by Pennsylvania, and east by New Jersey and the Atlantic Ocean. The state takes its name from Thomas West, 3rd Baron De La Warr, an English nobleman and Virginia's first colonial governor.
![Crime_Photo](imgs/delaware.PNG)

# Domain Category

__Crime__ <br>
In ordinary language, a crime is an unlawful act punishable by a state or other authority. The term "crime" does not, in modern criminal law, have any simple and universally accepted definition, though statutory definitions have been provided for certain purposes. The most popular view is that crime is a category created by law; in other words, something is a crime if declared as such by the relevant and applicable law. One proposed definition is that a crime or offence (or criminal offence) is an act harmful not only to some individual but also to a community, society or the state ("a public wrong"). Such acts are forbidden and punishable by law.
![Crime_Photo](imgs/crimes_image.jpg)

# Research Question

There are two questions which we want to answer:
* How have the crime rates for Delaware have changed over the last four decades, in comparison with total states of the USA? 
* Is there a correlation between the crime rate, GDP, and inflation-rate in the USA?

# Datasets Description

First two datasets are about crime rates in USA and Delaware. These datasets are extracted from [this website](https://www.ucrdatatool.gov/Search/Crime/State/StatebyState.cfm).

In [3]:
print('Delaware Crime rate dataset file: ',os.listdir(data_dir)[0])
print('USA Crime rate dataset file: ',os.listdir(data_dir)[3])

Delaware Crime rate dataset file:  deleware_crimes.csv
USA Crime rate dataset file:  usa_crimes.csv

Two other datasets are about crime GDP and inflation-rate in most of the countries across the world. But, we will clean the datasets and extract just related data to the USA. These datasets are extracted from [the world bank site](https://data.worldbank.org/).

In [4]:
print('World Countries inflation-rate dataset file: ',os.listdir(data_dir)[2])
print('World Countries GDP dataset file: ',os.listdir(data_dir)[1])

World Countries inflation-rate dataset file:  inflation_rates.csv
World Countries GDP dataset file:  gdp_rates.csv

# Data Cleaning

### USA Crime Dataset

In [27]:
usa_crime_dataset = pd.read_csv(usa_crime_file, header=None, skiprows=[0, 1, 2, 3] + list(range(65, 83)) )
usa_crime_header = usa_crime_dataset.iloc[:2]
usa_crime_header

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,NaN,NaN,National or state crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Violent crime,NaN,NaN,NaN,NaN,NaN,Property crime,NaN,...,NaN,NaN,NaN,NaN,Property crime,NaN,NaN,NaN,NaN,NaN

In [34]:
usa_crime_data = usa_crime_dataset.iloc[2:]
new_header = usa_crime_data.iloc[0] #grab the first row for the header
usa_crime_data = usa_crime_data.iloc[1:] #take the data less the header row
usa_crime_data.columns = new_header #set the header row as the df header
usa_crime_data = usa_crime_data.set_index('Year')
usa_crime_data.head()

2,Population,Violent crime total,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault,Property crime total,Burglary,Larceny-theft,...,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate,nan,nan
Year,,,,,,,,,,,,,,,,,,,,,
1960,179323175,288460,9110,17190,NaN,107840,154320,3095700,912100,1855400,...,9.6,NaN,60.1,86.1,1726.3,508.6,1034.7,183.0,NaN,NaN
1961,182992000,289390,8740,17220,NaN,106670,156760,3198600,949600,1913000,...,9.4,NaN,58.3,85.7,1747.9,518.9,1045.4,183.6,NaN,NaN
1962,185771000,301510,8530,17550,NaN,110860,164570,3450700,994300,2089600,...,9.4,NaN,59.7,88.6,1857.5,535.2,1124.8,197.4,NaN,NaN
1963,188483000,316970,8640,17650,NaN,116470,174210,3792500,1086400,2297800,...,9.4,NaN,61.8,92.4,2012.1,576.4,1219.1,216.6,NaN,NaN
1964,191141000,364220,9360,21420,NaN,130390,203050,4200400,1213200,2514400,...,11.2,NaN,68.2,106.2,2197.5,634.7,1315.5,247.4,NaN,NaN

In [41]:
usa_crime_rate = usa_crime_data['Violent Crime rate'].astype(np.float64) # Crime rate per 100,000 population
usa_crime_rate.head(5)

Year
1960    160.9
1961    158.1
1962    162.3
1963    168.2
1964    190.6
Name: Violent Crime rate, dtype: float64

### Delaware Crime Dataset

In [42]:
dw_crime_dataset = pd.read_csv(dw_crime_file, header=None, skiprows=[0, 1, 2, 3] + list(range(65, 83)) )
dw_crime_header = dw_crime_dataset.iloc[:2]
dw_crime_header

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,NaN,NaN,National or state crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Violent crime,NaN,NaN,NaN,NaN,NaN,Property crime,NaN,...,NaN,NaN,NaN,NaN,Property crime,NaN,NaN,NaN,NaN,NaN

In [43]:
dw_crime_data = dw_crime_dataset.iloc[2:]
new_header = dw_crime_data.iloc[0] #grab the first row for the header
dw_crime_data = dw_crime_data.iloc[1:] #take the data less the header row
dw_crime_data.columns = new_header #set the header row as the df header
dw_crime_data = dw_crime_data.set_index('Year')
dw_crime_data.head()

2,Population,Violent crime total,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault,Property crime total,Burglary,Larceny-theft,...,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate,nan,nan
Year,,,,,,,,,,,,,,,,,,,,,
1960,446292,375,33,41,NaN,157,144,9267,2661,5867,...,9.2,NaN,35.2,32.3,2076.4,596.2,1314.6,165.6,NaN,NaN
1961,458000,318,20,27,NaN,124,147,9343,2711,5885,...,5.9,NaN,27.1,32.1,2040.0,591.9,1284.9,163.1,NaN,NaN
1962,469000,338,20,44,NaN,140,134,10157,2814,6479,...,9.4,NaN,29.9,28.6,2165.7,600.0,1381.4,184.2,NaN,NaN
1963,476000,424,24,43,NaN,181,176,10892,3366,6559,...,9.0,NaN,38.0,37.0,2288.2,707.1,1377.9,203.2,NaN,NaN
1964,491000,541,23,40,NaN,203,275,11801,3313,7211,...,8.1,NaN,41.3,56.0,2403.5,674.7,1468.6,260.1,NaN,NaN

In [45]:
dw_crime_rate = dw_crime_data['Violent Crime rate'].astype(np.float64) # Crime rate per 100,000 population
dw_crime_rate.head(5)

Year
1960     84.0
1961     69.4
1962     72.1
1963     89.1
1964    110.2
Name: Violent Crime rate, dtype: float64

### GDP Dataset

In [63]:
GDP_dataset = pd.read_csv(gdp_file, skiprows=[0, 1, 2, 3])
# dw_crime_header = dw_crime_dataset.iloc[:2]
USA_GDP = GDP_dataset.set_index('Country Name').loc['United States'][3:-1].astype(np.float64)
USA_GDP.head()

1960    5.433000e+11
1961    5.633000e+11
1962    6.051000e+11
1963    6.386000e+11
1964    6.858000e+11
Name: United States, dtype: float64

### Inflation-rate dataset

In [64]:
inf_dataset = pd.read_csv(inf_file, skiprows=[0, 1, 2, 3])
# dw_crime_header = dw_crime_dataset.iloc[:2]
USA_inf = inf_dataset.set_index('Country Name').loc['United States'][3:-1].astype(np.float64)
USA_inf.head()

1960    1.457976
1961    1.070724
1962    1.198773
1963    1.239669
1964    1.278912
Name: United States, dtype: float64

# Visual Explanation

In [ ]:
usa_crime_data = usa_crime_dataset.iloc[2:]
new_header = usa_crime_data.iloc[0] #grab the first row for the header
usa_crime_data = usa_crime_data.iloc[1:] #take the data less the header row
usa_crime_data.columns = new_header #set the header row as the df header
usa_crime_data = usa_crime_data.set_index('Year')
usa_crime_data.head()

# Discussion